.border {
    border: 1px solid #dee2e6!important;
    position: relative;
    .btn-wrapper{
      text-align: center;
      a{
        display: inline-flex;
      }
    }
}
#careers{
  background: #fff;
}
#copyright{
    position: absolute;
    width: 100%;
    bottom: 0;
}
