<app-header></app-header>
<div class="jumbotron jumbotron-fluid" id="careers">
    <div class="container text-center text-md-left">
       <div class="row no-gutters ">
           <div class="col-12">
             <div class="mb-2">
               <h4 class="blog-title mb-2 text-center">We are on a mission to simplify the development process, deployment pipeline, <br /> and scaling of complex enterprise applications. 
               </h4>
               <div class="my-4 text-center">
                 <a class="my-6 font-weight-bold atlas-cta cta-blue" href="/careers#openings">View Openings</a>
               </div>
             </div>
             <div class="mb-5 mt-5">
               <h5 class="blog-title text-center mb-3">What we're doing.</h5>
               <p> We pride ourselves in being one of the prime movers in shaping the future of Blockchain, Cloud Native, and Data Pipeline. We help orgainazation to reimagine the business, designing and building the platforms necessary for growth.   </p>
             </div>
             <div class="mb-5">
               <h5 class="blog-title text-center mb-3">Our Values</h5>
               <p class="mb-4 text-justify"> Our success depends on the integratity and quality of our people. That's very reason we've made it a priority to build a open source culture that rewards an individual and community at large. 
                  We build the products that not just impact the clients, but marketplace and society. We always look for the people who share the same open source DNA that what we contribute matters.
                  It ins't just about building products and meeting clients, what matter at nearXture is making every commit count. </p>

               <h5 class="blog-title text-center mb-3">Are you ready to make an impact?</h5>

               <p class="mb-4 text-justify">
                 <i>
                    Then, pleas join us, we together build products that client deserve, and re-shape current inefficient, expensive, and tedious consulting services. 
                 </i>
               </p>
             </div>

           </div><!-- .col -->
      </div>
      <div class="row" id="openings">
        <div class="col-sm-6 col-12 mb-2">
            <div class="border px-3 py-2 h-100">
                <h6 class="my-3">Full Stack Engineer</h6>
                <p class="text-justify">
                  Full-stack, professional web development experience.<br />
                  Experience with one or more languages: Javascript, Nodejs, Java, Golang.<br />
                  Experience with one or more SQL Databases: Cassandra, MySql, MongoDB, .<br />
                  Experience with one or more web frameworks: Spring, Django, Play.<br />
                  Experience with one or more front-end frameworks: Angular, React, Ember, Backbone, etc.<br />
                  Experience with one or more public clould platforms: AWS, Google Cloud, Azure.<br />
                  Good to have experience with Microservices, containers platforms like Kubernets, Mesos, or Dockerswarm. <br />
                  Good to have experience in Blockchain and Distributed Systems.<br />
                  Keen to take a part of Open source community. 
                  <br />
                </p>
                <div class="btn-wrapper">
                    <a class="font-weight-bold atlas-cta cta-blue" routerLink="/apply-now" [queryParams]="{path: 'frontend'}">Learn more </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12  mb-2">
            <div class="border px-3 py-2 h-100">
                <h6 class="my-3">Front End Engineer</h6>
                <p class="text-justify">
                  A hands-on UI engineer and visionary who can guide development of world-class digital user experiences.<br />
                  Passionate about UI/UX and providing individual mentorship to engineers.<br />
                  A strong advocate for best practices and standards, with a focus on infrastructure, reusability, testing,
                  and development efficiency.<br />
                  Eager to learn latest UI technologies/frameworks/tools and apply them in solving complex business problems.<br />
                  An excellent communicator (written and verbal), with the demonstrated ability to interact with all levels
                  of employees and customers.<br />
                  Able to collaborate well with others and thrive with challenging assignments.<br />
                  A self-starter, able to perform work with minimal supervisory direction<br />
                </p>
                <div class="btn-wrapper">
                    <a class="font-weight-bold atlas-cta cta-blue" routerLink="/apply-now" [queryParams]="{path: 'backend'}">Learn more </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
