<app-header></app-header>
<div class="jumbotron jumbotron-fluid" id="careers">
    <div class="container text-center text-md-left">
       <div class="row no-gutters ">
           <div class="col-12">
             <div class="mb-2">
               <h4 class="blog-title mb-2 text-center">We are on a mission to enable global access to <br />investment in US
                 Real Estate loans </h4>
               <div class="my-4 text-center">
                 <a class="my-4 font-weight-bold atlas-cta cta-blue" href="/careers#openings">View Openings</a>
               </div>
             </div>
             <div class="mb-5">
               <h6 class="blog-title text-center mb-3">What we're building.</h6>
               <p  class="text-justify"> We pride ourselves in being one of the prime movers in shaping the future of tokenization and the change
                 the way people invest in US Real Estate. We bring the leading edge of blockchain tech to investment in US
                 mortgage loans to make it globally accessible to anyone with an internet connection. </p>
             </div>
             <div class="mb-5">
               <h6 class="blog-title text-center mb-3">Our Values</h6>
               <p class="mb-4 text-justify"> The products that we build will push Real Estate Tokenization into mainstream and won’t
                 simply recreate existing systems - they will leapfrog their traditional counterparts. 20+ years of real
                 estate business experience and 10+ years of technology industry experience, we started our journey with
                 BitCasas company that leverages blockchain technology to build products that would provide global access to
                 investment, not just a few individuals. </p>
               <p class="mb-4 text-justify">
                 <i>
                   We believe in growing by building-and that there is no better way than real-world experience. Join us to
                   re-shape US real estate investment.
                 </i>
               </p>
             </div>

           </div><!-- .col -->
      </div>
      <div class="row no-gutters " id="openings">
        <div class="col-sm-6 col-12 mb-2">
            <div class="border px-3 py-2 h-100">
                <h6 class="my-3">Front End Engineer</h6>
                <p class="text-justify">
                  A hands-on UI engineer and visionary who can guide development of world-class digital user experiences.<br />
                  Passionate about UI/UX and providing individual mentorship to engineers.<br />
                  A strong advocate for best practices and standards, with a focus on infrastructure, reusability, testing,
                  and development efficiency.<br />
                  Eager to learn latest UI technologies/frameworks/tools and apply them in solving complex business problems.<br />
                  An excellent communicator (written and verbal), with the demonstrated ability to interact with all levels
                  of employees and customers.<br />
                  Able to collaborate well with others and thrive with challenging assignments.<br />
                  A self-starter, able to perform work with minimal supervisory direction<br />
                </p>
                <div class="text-center my-4">
                    <a class="font-weight-bold atlas-cta cta-blue" routerLink="/apply-now" [queryParams]="{path: 'frontend'}">Learn more </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="border px-3 py-2 h-100">
                <h6 class="my-3">Full Stack Engineer</h6>
                <p class="text-justify">
                  Full-stack, professional web development experience. More is better.<br />
                  Experience with one or more language: Javascript, Nodejs, Java, Golang.<br />
                  Experience with one or more SQL Databases: MySql, MongoDB, SQL Server.<br />
                  Experience with one or more web frameworks: Spring, Django, Spring.<br />
                  Experience with one or more front-end frameworks: Angular, React, Ember, Backbone, etc.<br />
                  Good to have experience in Blockchain and Distributed Systems
                </p>
                <div class="text-center my-4">
                    <a class="font-weight-bold atlas-cta cta-blue" routerLink="/apply-now" [queryParams]="{path: 'backend'}">Learn more </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
