<div class="jumbotron jumbotron-fluid" id="faq">
    <div class="container text-center text-md-left">
       <app-header></app-header>
       <div class="row px-4">
           <div class="col-md-12 text-justify">
             <mat-accordion>
                   <mat-expansion-panel class="mb-3">
                     <mat-expansion-panel-header>
                       <mat-panel-title>
                         <h6>How would my company go about potentially working with nearXture on research or consulting projects?</h6>
                       </mat-panel-title>
                     </mat-expansion-panel-header>
                       <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                          We at nearXture take projects on a case-by-case basis, with considerations made based on timeline, nature, and scope of project. To inquire about our various services, please contact info@nearxture.com and we'd be glad to give you more information about our team and our process.
                          Does nearXture offer training services or speaking engagements for my company or organization?
                          Yes, we offer several training programs for companies and employees. For more information, please contact us at info@nearxture.com.
                          My organization is interested in buying or licensing training material from nearXture. How would that work?
                          If you are interested in licensing our material for third-party use or instruction, please contact us at info@nearXture.com.
                          My organization is interested in partnering, sponsoring, or establishing a recruitment pipeline with nearXture. How would that work?
                          We are open to have a partnerships with external organizations. If you believe that a partnership would be mutually beneficial, then we'd love to hear from you!
                          Please contact our consulting specialist, who handles all our business development and partnerships, at info@nearxture.com.
                       </p>
                   </mat-expansion-panel>
                   <mat-expansion-panel class="mb-3">
                     <mat-expansion-panel-header>
                       <mat-panel-title>
                         <h6>Does nearXture offer training services or speaking engagements for my company or organization?</h6>
                       </mat-panel-title>
                     </mat-expansion-panel-header>
                       <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                        Yes, we offer several training programs for companies and employees. For more information, please contact us at info@nearxture.com.
                       </p>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="mb-3">
                         <mat-expansion-panel-header>
                           <mat-panel-title>
                             <h6>My organization is interested in buying or licensing training material from nearXture. How would that work?</h6>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                          If you are interested in licensing our material for third-party use or instruction, please contact us at info@nearXture.com.
                         </p>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="mb-3">
                         <mat-expansion-panel-header>
                           <mat-panel-title>
                             <h6>My organization is interested in partnering, sponsoring, or establishing a recruitment pipeline with nearXture. How would that work?</h6>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                           We are open to have a partnerships with external organizations. If you believe that a partnership would be mutually beneficial, then we'd love to hear from you!
                              Please contact our consulting specialist, who handles all our business development and partnerships, at info@nearxture.com.
                         </p>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="mb-3 mat-expansion-panel">
                         <mat-expansion-panel-header>
                           <mat-panel-title>
                             <h6>I have this interesting proof-of-concept or project I want to explore with the help of nearXture. How would I go about doing this?</h6>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                           We are always interested in hearing new ideas and working on interesting projects. While projects are usually undertaken with organizational sponsors, we are always open to help with individual collaborators. For individuals interested in collaborating on a project, we ask that they have a thorough proposal/proof-of-concept ready; .When you are ready, please send an email to info@nearxture.com with the subject line "Consulting: Project Proposal" – [your full name] so we can see if our capabilities match with your needs. Please contact the above email for formal proposals.
                         </p>
                     </mat-expansion-panel>
                     <mat-expansion-panel class="mb-3">
                         <mat-expansion-panel-header>
                           <mat-panel-title>
                             <h6>Is nearxture open  to attending or Hosting Events With Us?</h6>
                           </mat-panel-title>
                         </mat-expansion-panel-header>
                         <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white1 my-3 ml-3">
                          Yes, we are always interested in attending interesting events and also host events on tech.  Our events are open to the public and free unless explicitly stated. However, space limitations may mean attendance caps. For limited or exclusive events, only nearxture employees, clients and partners may be prioritized.
                         </p>
                     </mat-expansion-panel>
                 </mat-accordion>
           </div>
       </div>
    </div>
</div>
<app-footer></app-footer>
