<header>
    <div class="row">
        <div class="col-sm-4">
            <div class="mt-3 pl-2">
                <a class="logo" href="/"></a> 
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <ul class="m-0 list-inline">
                <li class="list-inline-item">Home</li>
                <li class="list-inline-item">About</li>
                <li class="list-inline-item">Services</li>
                <li class="list-inline-item">Blog</li>
                <li class="list-inline-item">Contact US</li>
            </ul>
        </div>
    </div>
</header>