@import "./../../variables.scss";
.header-logo{
    display: inline-block;
    width: 120px;
    height: 55px;
    background:url('../../assets/images/logo-dark.png');
    background-size: 100%;
    background-position: 0 -28px;
}
