<footer>
    <div class="row">
        <div class="col-sm-6">
            <div class="row m-0">
                <div class="col-sm-4">
                    Logo Goes here
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">About</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Services</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Blog</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Search</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">T &amp; Cs</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
             <p>Get our newsletter</p>
             <input type="email" class="subscribe-mail" placeholder="Enter your mail" />
             <button type="button" class="subscribe-mail-button ml-2"> Subscribe</button>
             <ul class="pt-2 list-inline">
                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a></li>
              </ul>
        </div>
    </div>
</footer>