<div class="jumbotron jumbotron-fluid" id="banner">

  <!-- style="background-image: url(../../assets/images/banner-bk.jpg);" -->


    <div class="container text-center text-md-left">
        <header>
            <div class="row">
              <!-- justify-content-between -->
                <div class="col-2">
                    <span class="header-logo"></span>
                </div>
                <div class="col-10 text-right">
                    <ul class="m-0 list-inline">
                        <li class="list-inline-item">Home</li>
                        <li class="list-inline-item">About</li>
                        <li class="list-inline-item" (click)="jumpTo('services')">Services</li>
                        <li class="list-inline-item" (click)="jumpTo('training')">Training</li>
                        <li class="list-inline-item" (click)="jumpTo('products')">Solutions</li>
                        <li class="list-inline-item">Blog</li>
                        <li class="list-inline-item" (click)="jumpTo('contact')">Contact Us</li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-6">
              <div class="my-5">
                      <h4 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                      class="display-4 text-white1 font-weight-bold my-5">
                      Meet nearXture
                  </h4>
                  <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                      class="lead text-white1 my-3">
                      The Enterprise and Public Blockchain, Cloud, Data Pipeline and IOT Solutions nearXture brings your projects to life with advanced technologies
                  </p>
                  <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                      class="lead text-white1 my-3">
                      We are on a mission to simplify the development process, deployment pipeline, and scaling of complex enterprise applications and to bring the full power of current technologies to developers and enterprises, everywhere.
                  </p>
                  <!-- <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true"
                      class="btn my-5 font-weight-bold atlas-cta cta-green">Get Started</a> -->
              </div>
            </div>
            <div class="col-md-6">
               <!-- style="background: url(../../assets/undraw/undraw_bug_fixing_oc7a.svg) no-repeat;" -->
              <img src="../../assets/undraw/undraw_bug_fixing_oc7a.svg" />
            </div>
        </div>
    </div>
</div>
<!-- three-blcok -->
<div class="jumbotron jumbotron-fluid" id="services" >
    <div class='container'>
      <h2 class="font-weight-bold text-center my-4">Our Services</h2>
      <div class="row">
          <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center">
              <img src="../../assets/images/blockchain.png" alt="Blockchain" class="mx-auto img-section">
              <h3 class="my-4">Blockchain</h3>
              <p>nearXture mainly focused on enabling businesses and organisations to capitalise on blockchain and distributed systems technology that benefit from the new opportunities it presents.
              </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center">
              <img src="../../assets/images/cloud-native.png" alt="Cloud Native" class="mx-auto img-section">
              <h3 class="my-4">Cloud Native</h3>
              <p>We build dynamically managed cloud native systems using highly tuned Kubernetes platforms and container applications to support rapid and continuous application development and deployment.

              </p>
          </div>
          <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center">
              <img src="../../assets/images/data-pipeline.png" alt="Data Pipeline" class="mx-auto img-section">
              <h3 class="my-4">Data Pipeline</h3>
              <p>Meet business and IT challenges of data management in the new technology era with a more reliable and scalable data pipeline platform by leveraging best-of-breed cloud and open source technologies.

              </p>
          </div>
      </div>
    </div>
</div>
<!-- feature (skew background) -->
<div class="jumbotron jumbotron-fluid feature" id="training">
    <div class="container my-5">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                <h2 class="font-weight-bold">Corporate Training and Enablement</h2>
                <p class="my-4">nearXture enables developers, infrastructure architects, and operators to train
                        <br>with the same expert practitioners that deliver solutions to our clients.
                    </p>
                <a class="btn my-4 font-weight-bold atlas-cta cta-blue" (click)="scrollContact('contact',1)">Learn More</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                <!-- <img src="../../assets/corporate-training.jpg" alt="Take a look inside" class="mx-auto d-block"> -->
                <img src="../../assets/undraw/undraw_teaching_f1cm.svg" alt="Take a look inside" class="mx-auto d-block">

            </div>
        </div>
    </div>
</div>
<!-- feature (green background) -->
<div class="jumbotron jumbotron-fluid feature" id="products">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                <h2 class="font-weight-bold">Blockchain, Cloud and Big Data Consulting</h2>
                <p class="my-4">
                    We provide consulting services to Fortune 500 organizations and start-up companies.
                    Offerings range from technical Proof of Concepts to advisory and consultation. We work closely with
                    clients who are seeking to better understand and implement blockchain, Clould, Data based solutions, and provide clients
                    with a full suite of resources, education, and access to our qualified consultant and
                    developer pool. We also offer a wide variety of services.
                </p>
                <a class="btn my-4 font-weight-bold atlas-cta cta-blue"  (click)="scrollContact('contact',2)">Learn More</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true"
                class="col-md-6 align-self-center flex-md-first">
                <!-- <img src="../../assets/images/feature-2.png" alt="Safe and reliable" class="mx-auto d-block"> -->
                <img src="../../assets/undraw/undraw_goals_w8tw.svg" alt="Safe and reliable" class="mx-auto d-block">

            </div>
        </div>
    </div>
</div>
<!-- subscrbe -->
<div class="jumbotron jumbotron-fluid" id="subscribe">
    <div class="container my-5">
        <div class="row justify-content-between">
          <div class="col-md-6">
              <h2 class="font-weight-bold">Subscribe to Our Newsletter</h2>
              <p class="my-4">
                  Enter your email id to get notified about our work, events and recruitment!.
              </p>
          </div>
          <div class="col-md-6">
              <form id="contact-form" class="form-message text-left"
                [formGroup]="subscribeForm">
                <input type="email" placeholder="Email address"
                class="w-100 p-2" required formControlName="email" (keyup.enter)="subscriptionForm()"/>
                <a (click)="subscriptionForm()"><i class="fas fa-long-arrow-alt-right"></i></a>
                <span *ngIf="isSuccess" class="msg-subscribe success">You have subscribed to news letter successfully</span>
                <span *ngIf="isError" class="msg-subscribe error">Something wrong please try again later</span>
              </form>
          </div>
        </div>
    </div>
</div>
<!-- price table -->
<div class="jumbotron jumbotron-fluid feature" id="price-table">
      <div class="container my-5">
        <h2 class="text-center font-weight-bold d-block mb-3">About Us</h2>

        <p class="my-4">
            As experts in Blockchain, Cloud Native and Big Data technologies, we support clients with Blockchain Development, Cloud Migrations, and Data Pipeline. Our unique approach starts with understanding your specific needs. Then, together with your team, we design and implement custom solutions made to last. Our diverse team of experts is equipped with a broad range of blockchain, cloud native, big data skills, with a focus on data processing and microservices. .
        </p>
      <!-- <div class="row">
          <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">STARTUP</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Up to 5 Documents</li>
                  <li>Up to 3 Reviews</li>
                  <li>5 team Members</li>
                  <li>Limited Support</li>
              </ul>
              <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
          </div>
          <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
              <h4 class="my-4">PREMIUM</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">10</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Up to 15 Documents</li>
                  <li>Up to 10 Reviews</li>
                  <li>25 team Members</li>
                  <li>Limited Support</li>
              </ul>
              <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Free</a>
          </div>
          <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true"
              class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">PROFESSIONAL</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Unlimited Documents</li>
                  <li>Unlimited Reviews</li>
                  <li>Unlimited Members</li>
                  <li>Unlimited Support</li>
              </ul>
              <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Get Free</a>
          </div>
      </div>-->
  </div>
</div>
<!-- client -->
<!-- client -->
<!-- <div class="jumbotron jumbotron-fluid" id="product">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-1.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-2.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-3.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-4.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-5.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../assets/images/client-6.png" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div> -->
<!-- contact -->
<div class="jumbotron jumbotron-fluid" id="contact">
  <!-- style="background-image: url(../../assets/images/contact-bk.jpg);" -->
    <div class="container my-5">
        <div class="row justify-content-between">
            <div class="col-md-6 text-white">
                <h2 class="font-weight-bold">Contact Us</h2>
                <p class="my-4">
                    Have a Question?
                    <br> Read our FAQs for answers to some commonly asked questions. If not answered there, shoot an email at one of the following email or submit the form.
                </p>
                <ul class="list-unstyled">
                    <li>Email : info@nearxture.com</li>
                </ul>
                <p class="m4-4">
                    For more efficient responses by our staff, please adopt this subject line format: “[Department you are contacting]: [Message topic] – [your full name]”. We aim to get back to you within 2-3 business days.
                </p>
            </div>
            <div class="col-md-6">
                <form [formGroup]="contactForm" (ngSubmit)="submitContact(formDirective)"  #formDirective="ngForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Name *</label>
                            <input type="name" class="form-control" id="name" required formControlName="name">
                            <div *ngIf="name.invalid && name.touched">
                              <p class="text-danger mb-0" *ngIf="name.errors?.required">Name is required</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Email">Email *</label>
                            <input type="email" class="form-control" id="Email" required formControlName="email">
                            <div *ngIf="email.invalid && email.touched">
                              <p class="text-danger mb-0" *ngIf="email.errors?.required">Email is required</p>
                              <p class="text-danger mb-0" *ngIf="email.errors?.email">Invalid Email Address</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="query">Related to *</label>
                        <select class="form-control" id="query" rows="3" required formControlName="related">
                            <option [value]="rel" *ngFor="let rel of relatedItems">{{rel}}</option>
                        </select>
                        <div *ngIf="related.invalid && related.touched">
                          <p class="text-danger mb-0" *ngIf="related.errors?.required">Related is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message *</label>
                        <textarea class="form-control" id="message" rows="3" required formControlName="message"></textarea>
                        <div *ngIf="message.invalid && message.touched">
                          <p class="text-danger mb-0" *ngIf="message.errors?.required">Message is required</p>
                        </div>
                    </div>
                    <!-- {{contactForm.invalid}} -->
                    <button type="submit"
                        class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3"
                        [disabled]="contactForm.invalid">Submit</button>
                    <div class='text-white'>{{successMsg}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end -->
<!-- copyright -->
<div class="jumbotron jumbotron-fluid" id="copyright">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                Copyright © 2019 nearXture.
            </div>
            <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                <a href="#" class="d-inline-block text-center ml-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="d-inline-block text-center ml-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="d-inline-block text-center ml-2">
                    <i class="fab fa-medium"></i>
                </a>
                <a href="#" class="d-inline-block text-center ml-2">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
