@import "./../../variables.scss";
.img-section{
    width: 80px;
    height: 80px;
}
#banner,#training,#subscribe,#banner > .jumbotron{
  background: $header-color;
}
#services{
  background: #eceeef;
}
#contact{
  background:#192440;
}
.faq-link{
  cursor: pointer;
  &:hover{
    color:#fff;
  }
}
.navbar-nav .nav-link{
      color: #007bff;
}
.header-logo{
    display: inline-block;
    width: 120px;
    height: 55px;
    background:url('../../assets/images/logo-dark.png');
    background-size: 100%;
    background-position: 0 -28px;
}
.cta-blue{
  color:#fff !important;
}
select{
  background: transparent;
  border-color:#fff;
  color:#fff;
}
#subscribe{
  h2{
    font-size:1.8em !important;
  }
  #contact-form{
      position:relative;
      .fa-long-arrow-alt-right {
          color: #3f3d56;
          font-size: 20px;
          position: absolute;
          top: 15px;
          right: 10px;
    }
  }
}
.banner-content{
  height:75vh;
}
