<main>
    <div class="my-5">
        <p>Meet nearXture,</p>
        The Enterprise and Public Blockchain, Cloud, Data Pipeline and IOT Solutions nearXture brings your projects to
        life with advanced technologies
    </div>
    <div class="my-5">
        We are on a mission to simplify the development process, deployment pipeline, and scaling of complex enterprise
        applications and to bring the full power of current technologies to developers and enterprises, everywhere.
    </div>
    <div class="text-center pt-5 pb-5">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="crypto-image-holder cryptocurrency-bg"></div>
                <h2 class="my-5">Blockchain</h2>
                <p> nearXture mainly focused on enabling businesses and organisations to capitalise on blockchain and
                    distributed systems technology that benefit from the new opportunities it presents.</p>
            </div>
            <div class="col-md-4 col-12">
                <div class="crypto-image-holder investment-bg"></div>
                <h2 class="my-5">Cloud Native</h2>
                <p>We build dynamically managed cloud native systems using highly tuned Kubernetes platforms and
                    container applications to support rapid and continuous application development and deployment.</p>
            </div>
            <div class="col-md-4 col-12">
                <div class="crypto-image-holder payment-bg"></div>
                <h2 class="my-5">Data Pipeline</h2>
                <p>Meet business and IT challenges of data management in the new technology era with a more reliable and
                    scalable data pipeline platform by leveraging best-of-breed cloud and open source technologies.</p>
            </div>
        </div>
    </div>
</main>